* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    background-image: repeating-linear-gradient(90deg, rgb(51, 255, 160), rgb(51, 255, 160) 20px, rgb(104, 195, 153) 20px,rgb(104, 195, 153) 40px);
  }
  
  h3 {
    margin: 0;
  }
  .content {
    max-width: 1030px;
    margin: 0 auto;
    padding-bottom: 100px;
  }
  
  .imagen-portada {
    overflow: hidden;
    max-height: 200px;
    border-radius: 5px 5px 0 0;
  }
  
  .imagen-portada img {
    display: block;
    object-fit: cover;
    width: 100%;
  }
  
  .imagen-perfil img {
    border-radius: 50%;
    display: block;
    height: 150px;
    width: 150px;
    margin-top: -100px;
    object-fit: cover;
    border: 3px solid rgb(119, 0, 0);
  }
  
  .nav-perfil {
    display: flex;
    padding: 0 16px;
    border: 2px solid #e5e5e5;
    border-radius: 0 0 5px 5px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  
  
    /*MENU*/
.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 10px 10px;
	color: #fff9f9;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #000000;
	transition: all .3s;
    background: #5255f5;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #5abddb;
	width: 130%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color:#fff;
	text-decoration: none;
  
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
  z-index:10;
}


  
  .imagen-card {
    height: 130px;
    overflow: hidden;
  }
  .imagen-card img {
    width: 100%;
    display: block;
  }
  .cuerpo {
    padding: 0 15px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    grid-auto-flow: dense;
  }
  
  .absolute {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  @media screen and (min-width: 650px) {
    .absolute {
      position: relative;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .absolute2 {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  .card {
    border: 2px solid #e5e5e5;
  }
  
  .card-cuerpo {
    padding: 10px 15px;
  }
  
  .card > img {
    width: 100%;
  }
  
  .card.fit img {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }
  
  @media screen and (min-width: 768px) {
    .nav-perfil {
      display: flex;
      padding: 0 50px;
      border: 2px solid #e5e5e5;
      border-radius: 0 0 5px 5px;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .opciones ul li a {
      margin: 0 25px;
      text-decoration: none;
      color: #1a1a1a;
    }
    .imagen-portada {
      max-height: 400px;
    }
  }
  
  .card.fit.absolute img {
    object-fit: cover;
    height: 100%;
    z-index: -10;
  }
  .card.fit.absolute .card-cuerpo {
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
  }
  footer {
	background:#2c3e50;
	width: 420%;
	padding:20px;

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .links {
	background:#c0392b;
	display:flex;
	flex-wrap:wrap;
}

footer .links a {
	flex-grow:1;

	color:#fff;
	padding:50px;
	text-align: center;
	text-decoration:none;
}

footer .links a:hover {
	background:#E74C3C;
}

footer .social {
	background:#1225d3;
}

footer .social a {
	color:#fff;
	text-decoration: none;
	padding:10px;
	display: inline-block;
}