/* Autor: Aylin Mondragón */
* {
    box-sizing: border-box;
    font-family: candara;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #b1f3fc;
  }
  
  /*MENU*/
  .menu > li{
    position: relative;
    display: inline-block;
  }
  
  .menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #140404;
    font-family: 'Open sans';
    text-decoration: none;
  }
  
  .menu li a:hover{
    color: #000000;
    transition: all .3s;
      background: #edc7ff;
  }
  
  /* Submenu*/
  
  .submenu{
    position: absolute;
    background: #000000;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
  }
  
  .submenu li a{
    display: block;
    padding: 15px;
    color: rgb(245, 245, 245);
    font-family: 'Open sans';
    text-decoration: none;
  }
  
  .menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
  }
  

  header {
    font-family: candara;
    padding: 30px;
    text-align: center;
    background: white;
    font-size: 30px;
    text-align: justify;
  }
  
  header h1 {
      font-family: brush script mt;
    font-size: 60px;
    text-align: center;
    
  }
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: black;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    
}

nav > a:hover{
    text-decoration: underline;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
  
  h2{
      font-family: brush script mt;
      font-size: 40px;
  }
  .section {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
      .section img{
          
          width: 100%;
      }
  
  .columna:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .izqu {   
    float: left;
    width: 75%;
    font-size: 20px;
  }
  
  
  .der {
    float: left;
    width: 25%;
    background-color: #b1edfc;
    padding-left: 20px;
    
  }
  @media screen and (max-width: 800px) {
    .izqu, .der {   
      width: 100%;
      padding: 0;
    }
  }
  #ibm{
      font-weight: bold;
      
  }
  #decora{
      padding: 10px;
    margin-top: 80px;
  }
  
  /* footer */

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color:#fff;
    border-bottom: 3px solid rgb(251, 161, 176);
    padding-bottom: 5px;
    padding-bottom: 10px;
}

.content-foo p{
    color: black;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: rgb(36, 35, 35);
}
  
  